#leftbox
{
    float:left;
    width:300px;
    height:300px;
    margin:5px;
    border:3px dotted blue;
}

#rightbox
{
    float:left;
    width:300px;
    height:300px;
    margin:5px;
    border:3px dotted red;
}